## DEFAULT
NODE_ENV=local
PORT=8088
TIME_ZONE=Asia/Ho_Chi_Minh
API_KEY=
API_SECRET=

## DATABASE
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=123456
# DB_NAME=sign_school_db_local

DB_TYPE=mysql
DB_HOST=localhost  # Thay thế localhost bằng IP của Ubuntu
DB_PORT=3306  # Cổng mặc định của MySQL
DB_USERNAME=root  # Username của MySQL (thường là root)
DB_PASSWORD=123456  # Mật khẩu của MySQL
DB_NAME=hustappuser 

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_USER_AUTH=86400

## JWT
JWT_EXPIRE_IN=604800
JWT_SECRET=yWeMm3IzcGnZRkt2ROV8hr+mqLsVwJbQS+rL5pDDftg=

## AWS
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY=AKIASSDDFDJRYPYK3AXG
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=sign_school-storage-dev
AWS_S3_PRIVATE_BUCKET_NAME=sign_school-private-storage-dev


# CRON
CRON_CLEAN_STORAGE_EXPRESSION=0 03 * * *
CRON_BACKUP_DATABASE_EXPRESSION=0 03 * * *
CLEAN_STORAGE_THRESHOLD_SECOND=3600

#MINIO
MINIO_PORT=9000
MINIO_HOST=localhost
MINIO_CONSOLE=9001